.big-container {
    animation: kizzy 10s linear infinite;
    width: 100%;
    height: 600px;
}

h1 {
    font-size: 85px;
    animation: text 5s linear infinite;
    text-align: center;
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}

.mark{
    font-size: 30px;
}



@keyframes kizzy {
    0% {
        background-image: url(img/kizzy2_.logo.jpeg.jpg);
        background-size: cover;
    }


    51% {
        background-image: url(img/5192479.jpg);

    }



    100% {
        background-image: url(img/kizzy_logo.jpeg.jpg);
        background-size: cover;
        /* transform: rotate(360deg); */
    }
}

@keyframes text {
    from {
        color: blue;
    }

    to {
        color: red;
    }
}